
.header_div{
    background: #97e43c;
    color:rgb(0, 25, 47)
}
.header_div img{
    width: 100px
}
body{
    font-family: 'Caveat', cursive;
    background: #2bffe3;
}
.main_div{
    background:#2bffe3;
    padding:10px ;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label{
background: #97e43c;
width: 310px;
padding: 10px;
margin-bottom: 0px ;
box-shadow:5px 5px 18px  #ffffff;
}
#camera{
    border:2px dashed darkturquoise;
    width: 350px;
    height: 300px;
    box-shadow:5px 5px 18px  #ffffff;

}
.main_div button {
    width: 310px;
    font-size:  16px;
    box-shadow:5px 5px 18px  #ffffff;
    border:1px solid;
}
.footer_div{
    margin-bottom: 50px;
} 
.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.footer_div img {
    width: 70px;
}
.copy_right_footer{
    position: fixed;
    color: tomato;
    bottom:0;
    width:100%;
    background-color: wheat;
    line-height: 3;
    text-align: center;
}